Java/ws_calc/classes/CalculatorImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://calculator/" name="CalculatorImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://calculator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://calculator/" schemaLocation="CalculatorImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="divide">
    <part name="parameters" element="tns:divide"/>
  </message>
  <message name="divideResponse">
    <part name="parameters" element="tns:divideResponse"/>
  </message>
  <message name="multiply">
    <part name="parameters" element="tns:multiply"/>
  </message>
  <message name="multiplyResponse">
    <part name="parameters" element="tns:multiplyResponse"/>
  </message>
  <message name="subtract">
    <part name="parameters" element="tns:subtract"/>
  </message>
  <message name="subtractResponse">
    <part name="parameters" element="tns:subtractResponse"/>
  </message>
  <portType name="Operations">
    <operation name="add">
      <input wsam:Action="http://calculator/Operations/addRequest" message="tns:add"/>
      <output wsam:Action="http://calculator/Operations/addResponse" message="tns:addResponse"/>
    </operation>
    <operation name="divide">
      <input wsam:Action="http://calculator/Operations/divideRequest" message="tns:divide"/>
      <output wsam:Action="http://calculator/Operations/divideResponse" message="tns:divideResponse"/>
    </operation>
    <operation name="multiply">
      <input wsam:Action="http://calculator/Operations/multiplyRequest" message="tns:multiply"/>
      <output wsam:Action="http://calculator/Operations/multiplyResponse" message="tns:multiplyResponse"/>
    </operation>
    <operation name="subtract">
      <input wsam:Action="http://calculator/Operations/subtractRequest" message="tns:subtract"/>
      <output wsam:Action="http://calculator/Operations/subtractResponse" message="tns:subtractResponse"/>
    </operation>
  </portType>
  <binding name="CalculatorImplPortBinding" type="tns:Operations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="divide">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="multiply">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="subtract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculatorImplService">
    <port name="CalculatorImplPort" binding="tns:CalculatorImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

