SOAP/exp1/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://calculator/" 
			 name="CalculatorService"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:wsp="http://www.w3.org/ns/ws-policy" 
			 xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
			 xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"  
			 xmlns:tns="http://calculator/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

<types>
  <!--xsd:schema>
    <xsd:import namespace="http://calculator/" schemaLocation="calculator_schema.xsd"/>
  </xsd:schema-->  
  <xs:schema version="1.0" 
		     targetNamespace="http://calculator/"
  		     xmlns:tns="http://calculator/" 
		     xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="plus" type="tns:plus"/>
  <xs:element name="plusResponse" type="tns:plusResponse"/>
  <xs:element name="minus" type="tns:minus"/>
  <xs:element name="minusResponse" type="tns:minusResponse"/>
  <xs:element name="multiply" type="tns:multiply"/>
  <xs:element name="multiplyResponse" type="tns:multiplyResponse"/>
  <xs:element name="divide" type="tns:divide"/>
  <xs:element name="divideResponse" type="tns:divideResponse"/>
  
  <xs:complexType name="plus">
    <xs:sequence>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="plusResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="minus">
    <xs:sequence>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="minusResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="multiply">
    <xs:sequence>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="multiplyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="divide">
    <xs:sequence>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="divideResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>  
  
</types>


<message name="plusRequestMsg">
  <part name="parameters" element="tns:plus"/>
</message>
<message name="plusResponseMsg">
  <part name="parameters" element="tns:plusResponse"/>
</message>
<message name="minusRequestMsg">
  <part name="parameters" element="tns:minus"/>
</message>
<message name="minusResponseMsg">
  <part name="parameters" element="tns:minusResponse"/>
</message>
<message name="multiplyRequestMsg">
  <part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponseMsg">
  <part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="divideRequestMsg">
  <part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponseMsg">
  <part name="parameters" element="tns:divideResponse"/>
</message>



<portType name="Calculator">

  <!--jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
  </jaxws:bindings-->
  
  <operation name="plus">
    <input wsam:Action="http://calc/Calculator/plusRequest" message="tns:plusRequestMsg"/>
    <output wsam:Action="http://calc/Calculator/plusResponse" message="tns:plusResponseMsg"/>
  </operation>
  
  <operation name="minus">
    <input wsam:Action="http://calculator/Calculator/minusRequest" message="tns:minusRequestMsg"/>
    <output wsam:Action="http://calculator/Calculator/minusResponse" message="tns:minusResponseMsg"/>
  </operation>
  
  <operation name="multiply">
    <input wsam:Action="http://calculator/Calculator/multiplyRequest" message="tns:multiplyRequestMsg"/>
    <output wsam:Action="http://calculator/Calculator/multiplyResponse" message="tns:multiplyResponseMsg"/>
  </operation>
  
  <operation name="divide">
    <input wsam:Action="http://calculator/Calculator/divideRequest" message="tns:divideRequestMsg"/>
    <output wsam:Action="http://calculator/Calculator/divideResponse" message="tns:divideResponseMsg"/>
  </operation>
  
</portType>  


<binding name="CalculatorPortBinding" type="tns:Calculator">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  
  <operation name="plus">
    <soap:operation soapAction=""/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
  
  <operation name="minus">
    <soap:operation soapAction=""/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
  
  <operation name="multiply">
    <soap:operation soapAction=""/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
  
  <operation name="divide">
    <soap:operation soapAction=""/>
    <input>
      <soap:body use="literal"/>
    </input>
    <output>
      <soap:body use="literal"/>
    </output>
  </operation>
  
</binding>

<service name="CalculatorService">
  <port name="CalculatorPort" binding="tns:CalculatorPortBinding">
    <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
  </port>
</service>

</definitions>